# Server Configuration
PORT=3000

# MongoDB Connection Strings
# URI for local development environment
MONGODB_URI_DEV=mongodb://localhost:27017/quiz_system_dev
# URI for automated testing environment
MONGODB_URI_TEST=mongodb://localhost:27017/quiz_system_test