# Server Configuration
PORT=

# MongoDB Connection Strings
# URI for local development environment
MONGODB_URI_DEV=
# URI for automated testing environment
MONGODB_URI_TEST=

# Admin Password (not needs for hashing now)
ADMIN_PASSWORD=

# JWT secret
SECRET=